table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

table th,
table td {
  padding: 5px;
  text-align: left;
}

table th {
  background-color: rgba(63, 0, 151, 255);
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 30px;
  font-weight: 500;
}

table tr {
  border-bottom: 1px solid #dddddd;
}

table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tr:last-of-type {
  border-bottom: 2px solid #009879;
}

table tr:hover {
  background-color: #f1f1f1;
}

input[type="text"] {
  width: 90%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  border-color: #009879;
  outline: none;
}

.button {
  border: none;
  padding: 10px 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.button-edit {
  background-color: green; /* Green */
}

.button-save {
  background-color: rgba(63, 0, 151, 255); /* Blue */
  display: none;
}

.button-delete {
  background-color: red; /* Red */
}

@media screen and (max-width: 700px) {
table th, table td {
    padding: 5px 5px;
    font-size: 10px;
  }
  .button{
    padding: 2px 5px;
    font-size: 7px;
  }
 input[type="text"]{
    font-size: 8px;
    padding: 1px;
 }
}
